/* 一覧ページ */
.area-border {
  margin: 1em;
  padding: .5em;
  border: black solid 1px;
  border-radius: .5em;
}

.pagenate-border {
  border: black solid 1px;
  border-radius: .5em;
  padding: 0 1rem;
}

.word-search-form input {
  border: black solid 1px;
  border-radius: .5em;
  padding: .25em;
  width: 100%;
}

.word-search-form {
  position: relative;
}

.word-search-form .search-icon {
  position: absolute;
  top: 6px;
  right: 7px;
}

.profile-link {
  text-decoration: underline;
}

.menu-header {
  text-align: center;
  font-size: 1.4rem;
}

dl {
  & dt {
    margin-top: 1rem;
  }

  & dt::after {
    content: ":";
  }

  & dd {
    margin-left: 1rem;
  }
}

/* ブログ記事詳細ページ */
.blog-article {

  padding: .5rem;

  & h1 {
    font-size: 1.8rem;
    margin: .5rem 0 1rem;
    text-decoration: underline;
  }

  & h2 {
    font-size: 1.6rem;
    margin: .5rem 0 1rem;
    text-decoration: underline;
  }

  & h3 {
    font-size: 1.4rem;
    margin: .5rem 0 1rem;
    text-decoration: underline;
  }

  & h4 {
    font-size: 1.2rem;
    margin: .5rem 0 1rem;
    text-decoration: underline;
  }

  & h5 {
    margin: .5rem 0 1rem;
    text-decoration: underline;
  }

  & pre,
  & p code  {
    margin: 1rem 0;
    background: black;
    color: white;
    padding: .5rem;
    overflow: auto;
    white-space: pre;
    font-size: .75em;
    border-radius: .5rem;
  }

  & blockquote {
    background: rgb(200, 200, 200);
    padding: .5rem;
    font-style: oblique;
  }

  & table {
    margin: .5rem;
  }

  & th,
  & td {
    border: rgb(80, 80, 80) .5px solid;
    padding: .25rem;
  }

  & a {
    color: rgb(0, 165, 248);
    text-decoration: underline;
  }

  & img {
    max-width: 80%;
    height: auto;
    margin: auto;
  }
}

/* プロフィール詳細 */
.profile-img {
  max-width: 50%;
}

/* PC用CSS */
@media screen and (min-width: 1024px) {
  /* プロフィール詳細 */
  .profile-img {
    max-width: 25%;
  }
}